<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ActivityMapper">

    <sql id="Base_Column_List">
        id,name,descr,content,`start`,`end`,form,address,host,read_count,cover
    </sql>

    <select id="selectAll" resultType="com.example.entity.Activity">
        select
        <include refid="Base_Column_List" />
        from activity
        <where>
            <if test="name != null"> and name like concat('%',#{name},'%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Activity">
        select
        <include refid="Base_Column_List" />
        from activity
        where id = #{id}
    </select>
    <select id="selectPageByUser" resultType="com.example.entity.Activity">
        select activity.*,activity_sign.user_id
        from activity_sign
        left join activity on activity.id = activity_sign.act_id
        <where>
            <if test="userId != null"> and activity_sign.user_id = #{userId}</if>
        </where>
        order by activity.id desc
    </select>
    <select id="selectPageCollect" resultType="com.example.entity.Activity">
        select activity.*
        from collects
        left join activity on activity.id = collects.fid
        <where>
            and collects.module='活动'
            <if test="userId != null"> and collects.user_id = #{userId}</if>
        </where>
        order by collects.id desc
    </select>

    <delete id="deleteById">
        delete from activity
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Activity" useGeneratedKeys="true">
        insert into activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="descr != null">descr,</if>
            <if test="content != null">content,</if>
            <if test="start != null">`start`,</if>
            <if test="end != null">`end`,</if>
            <if test="form != null">form,</if>
            <if test="address != null">address,</if>
            <if test="host != null">host,</if>
            <if test="readCount != null">read_count,</if>
            <if test="cover != null">cover,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="descr != null">#{descr},</if>
            <if test="content != null">#{content},</if>
            <if test="start != null">#{start},</if>
            <if test="end != null">#{end},</if>
            <if test="form != null">#{form},</if>
            <if test="address != null">#{address},</if>
            <if test="host != null">#{host},</if>
            <if test="readCount != null">#{readCount},</if>
            <if test="cover != null">#{cover},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Activity">
        update activity
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="descr != null">
                descr = #{descr},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="start != null">
                `start` = #{start},
            </if>
            <if test="end != null">
                `end` = #{end},
            </if>
            <if test="form != null">
                form = #{form},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="host != null">
                host = #{host},
            </if>
            <if test="readCount != null">
                read_count = #{readCount},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>